<div class="about">
	<img src="/img/about/leaf-right-top.png" alt="leaf-right-top" class="about__leaf about__leaf-right-top">
	<img src="/img/about/leaf-right-center-1.png" alt="leaf-right-center-1" class="about__leaf about__leaf-right-center-1">
	<img src="/img/about/leaf-right-center-2.png" alt="leaf-right-center-2" class="about__leaf about__leaf-right-center-2">
	<img src="/img/about/leaf-left-center-1.png" alt="leaf-left-center-1" class="about__leaf about__leaf-left-center-1">
	<img src="/img/about/leaf-left-center-2.png" alt="leaf-left-center-2" class="about__leaf about__leaf-left-center-2">
	<div class="about-wrap">
		<div class="about__item">
			<h1 class="text-header about__header">WHO IS UPSIDE FOR?</h1>
			<h2 class="title about__title">Our products are for everyone.</h2>
			<div class="about__image-wrap">
				<img src="/img/about/about1.png" alt="About1" class="about__image">
			</div>
			<p class="text_size-s about__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, et aliquam erat laoreet. Sed sit amet arcu aliquet, molestie justo at, auctor nunc. Phasellus ligula ipsum, volutpat eget semper id, viverra eget nibh.</p>
			<a href="#" class="details about__details">learn more about us</a>	
		</div>
		<div class="about__item">
			<h1 class="text-header about__header">OUR FORMULA</h1>
			<h2 class="title about__title">5x More Effective Than Standard CBD</h2>
			<div class="about__image-wrap">
				<img src="/img/about/about2.png" alt="About2" class="about__image">
			</div>
			<p class="text_size-s about__text">VESIsorb® allows our CBD oil to mix with water, drastically increasing bioavailability, making our CBD gelcaps totally body ready. The increased bioavailability of Upside CBD with VESIsorb® means that our gelcaps are 5X more effective than standard CBD capsules.</p>
			<a href="#" class="details about__details">learn more about our formula</a>
		</div>
	</div>
</div>