<div class="advantages">
	<img src="/img/advantages/leaves-right.png" alt="leaves-right" class="advantages__leaves-right">
	<img src="/img/advantages/leaves-left.png" alt="leaves-left" class="advantages__leaves-left">
	<div class="advantages__wrap">
		<div class="advantages__header">
			<picture class="advantages__image-container">
				<source class="advantages__image" media="(min-width: 768px)" srcset="/img/advantages/the-upside-is-whats-inside.png">
				<img class="advantages__image" src="/img/advantages/the-upside-is-whats-inside-mobile.svg" alt="The Upside is whats inside">
			</picture>
			<p class="advantages__text">
				Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, Donec vehicula rhoncus mattis.
			</p>
		</div>
		<div class="advantages__items">	
			<div class="advantages__item">
				<div class="item__image">
					<img src="/img/advantages/effective-icon.svg" alt="effective">
				</div>
				<h1 class="title_orange item__title">effective</h1>
				<p class="text_size-s item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, Donec vehicula rhoncus mattis.</p>
			</div>
			<div class="advantages__item">
				<div class="item__image">
					<img src="/img/advantages/consistent-icon.svg" alt="consistent">
				</div>
				<h1 class="title_orange item__title">consistent</h1>
				<p class="text_size-s item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, Donec vehicula rhoncus mattis.</p>
			</div>
			<div class="advantages__item">
				<div class="item__image">
					<img src="/img/advantages/delicious-icon.svg" alt="delicious">
				</div>
				<h1 class="title_orange item__title">delicious</h1>
				<p class="text_size-s item__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut pretium pretium tempor. Ut eget imperdiet neque. In volutpat ante semper diam molestie, Donec vehicula rhoncus mattis.</p>
			</div>
		</div>
	</div>
	<div class="advantages__grey-block"></div>
</div>