<div class="page faq">
	<h1 class="text-header faq__header">FREQUENTLY ASKED QUESTIONS</h1>
	<h2 class="title title_dark faq__title">
		We’re here to help answer your questions.
	</h2>
	<div class="block-questions">
		<ul class="question-list">
			<li class="question__item">
				<p class="text_size-r question__text">Why CBD?</p>
				<p class="text_size-s question__answer">Cannabidiol—CBD—is a cannabis compound that has significant medical benefits, but does not make people feel “stoned."</p>
			</li>
			<li class="question__item">
				<p class="text_size-r question__text">Why should I take CBD?</p>
				<p class="text_size-s question__answer">Cannabidiol—CBD—is a cannabis compound that has significant medical benefits, but does not make people feel “stoned."</p>
			</li>
			<li class="question__item">
				<p class="text_size-r question__text">Does CBD have any adverse side effects? What about drug interactions?</p>
				<p class="text_size-s question__answer">Cannabidiol—CBD—is a cannabis compound that has significant medical benefits, but does not make people feel “stoned."</p>
			</li>
			<li class="question__item">
				<p class="text_size-r question__text">How long does it take for CBD to begin to work?</p>
				<p class="text_size-s question__answer">Cannabidiol—CBD—is a cannabis compound that has significant medical benefits, but does not make people feel “stoned."</p>
			</li>
			<li class="question__item">
				<p class="text_size-r question__text">Is all CBD the same?</p>
				<p class="text_size-s question__answer">Cannabidiol—CBD—is a cannabis compound that has significant medical benefits, but does not make people feel “stoned."</p>
			</li>
		</ul>
	</div>
	<img src="/img/faq/leaves.png" alt="faq-leaves" class="faq__leaves faq__leaves_left">
	<img src="/img/faq/leaves.png" alt="faq-leaves" class="faq__leaves faq__leaves_right">
</div>