<header class="header">
	<div class="header__wrap">
		<img class="header__menu-icon" src="/img/header/menu-icon.svg" alt="menu-icon">
		<a href="/"><img class="header__logo" src="/img/header/logo.svg" alt="logo"></a>
		<nav class="menu">
			<div class="menu__wrap">
				<a href="/"><img class="menu__logo" src="/img/header/logo.svg" alt="logo-icon"></a>
				<ul class="menu-list">
					<li class="menu__item"><a class="menu__text" href="#">Shop</a></li>
					<li class="menu__item"><a class="menu__text" href="#">About Us</a></li>
					<li class="menu__item"><a class="menu__text" href="#">Why CBD?</a></li>
					<li class="menu__item"><a class="menu__text" href="#">Our Formula</a></li>
					<li class="menu__item"><a class="menu__text" href="#">Wholesalers</a></li>
					<li class="menu__item menu__item_mobile"><a class="menu__text" href="#">Search</a></li>
					<li class="menu__item menu__item_mobile menu__cart"><a class="menu__text" href="#">Cart</a></li>
					<li class="menu__item menu__item_mobile menu__item_bottom"><a class="menu__text" href="#">Account</a></li>
				</ul>
			</div>
		</nav>
		<img class="header__icon header__search-icon" src="/img/header/search-icon.svg" alt="search-icon">
		<a href="#" class="header__user">
			<img class="header__icon header__user-icon" src="/img/header/user-icon.png" alt="user-icon">
		</a>
		<a class="header__bag" href="#">
			<img class="header__icon header__bag-icon" src="/img/header/bag-icon.svg" alt="bag-icon">
		</a>	
	</div>
</header>