<div class="page_green product">
	<h1 class="title product__header">
		PRODUCTS
	</h1>
	<div class="product__slider">
		<div class="product__arrow-left"></div>
		<div class="product__items">
			<div class="slider__wrap">
				<div class="product__item">
					<div class="product__image-wrap">
						<img class="product__image" src="/img/product/product.png" alt="Product">
					</div>
					<div class="product__info">
						<h2 class="title product__title">Mango Chili CBD Fruit Bites 1</h2>
						<p class="text_size-s product__text">Our fruit bites are an all-natural snack with no sugar added. 100mg of CBD per package with VESIsorb, making it 5X as effective as any other CBD you will find on the market.</p>
						<p class="title product__price">$19.00</p>
						<div class="product__buttons">
							<a href="#" class="button product__button">add to cart</a>
							<a href="#" class="details">view product details</a>
						</div>
					</div>
				</div>
				<div class="product__item">
					<div class="product__image-wrap">
						<img class="product__image" src="/img/product/product.png" alt="Product">
					</div>
					<div class="product__info">
						<h2 class="title product__title">Mango Chili CBD Fruit Bites 2</h2>
						<p class="text_size-s product__text">Our fruit bites are an all-natural snack with no sugar added. 100mg of CBD per package with VESIsorb, making it 5X as effective as any other CBD you will find on the market.</p>
						<p class="title product__price">$19.00</p>
						<div class="product__buttons">
							<a href="#" class="button product__button">add to cart</a>
							<a href="#" class="details">view product details</a>
						</div>
					</div>
				</div>
				<div class="product__item">
					<div class="product__image-wrap">
						<img class="product__image" src="/img/product/product.png" alt="Product">
					</div>
					<div class="product__info">
						<h2 class="title product__title">Mango Chili CBD Fruit Bites 3</h2>
						<p class="text_size-s product__text">Our fruit bites are an all-natural snack with no sugar added. 100mg of CBD per package with VESIsorb, making it 5X as effective as any other CBD you will find on the market.</p>
						<p class="title product__price">$19.00</p>
						<div class="product__buttons">
							<a href="#" class="button product__button">add to cart</a>
							<a href="#" class="details">view product details</a>
						</div>
					</div>
				</div>
				<div class="product__item">
					<div class="product__image-wrap">
						<img class="product__image" src="/img/product/product.png" alt="Product">
					</div>
					<div class="product__info">
						<h2 class="title product__title">Mango Chili CBD Fruit Bites 4</h2>
						<p class="text_size-s product__text">Our fruit bites are an all-natural snack with no sugar added. 100mg of CBD per package with VESIsorb, making it 5X as effective as any other CBD you will find on the market.</p>
						<p class="title product__price">$19.00</p>
						<div class="product__buttons">
							<a href="#" class="button product__button">add to cart</a>
							<a href="#" class="details">view product details</a>
						</div>
					</div>
				</div>
				<div class="product__item">
					<div class="product__image-wrap">
						<img class="product__image" src="/img/product/product.png" alt="Product">
					</div>
					<div class="product__info">
						<h2 class="title product__title">Mango Chili CBD Fruit Bites 5</h2>
						<p class="text_size-s product__text">Our fruit bites are an all-natural snack with no sugar added. 100mg of CBD per package with VESIsorb, making it 5X as effective as any other CBD you will find on the market.</p>
						<p class="title product__price">$19.00</p>
						<div class="product__buttons">
							<a href="#" class="button product__button">add to cart</a>
							<a href="#" class="details">view product details</a>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="product__arrow-right"></div>
	</div>
	<div class="product__control">
		<div class="control__item">
			<img src="/img/product/product-1.png" alt="UpSide CBD Gelcaps" class="control__img">
			<h1 class="text_size-r control__title">UpSide CBD Gelcaps</h1>
		</div>
		<div class="control__item control__item_active">
			<img src="/img/product/product-2.png" alt="Mango Chili CBD Fruit Bites" class="control__img">
			<h1 class="text_size-r control__title">Mango Chili CBD Fruit Bites</h1>
		</div>
		<div class="control__item">
			<img src="/img/product/product-3.png" alt="Lemon CBD Fruit Bites" class="control__img">
			<h1 class="text_size-r control__title">Lemon CBD Fruit Bites</h1>
		</div>
		<div class="control__item">
			<img src="/img/product/product-4.png" alt="Raspberry CBD Fruit Bites" class="control__img">
			<h1 class="text_size-r control__title">Raspberry CBD Fruit Bites</h1>
		</div>
		<div class="control__item">
			<img src="/img/product/product-5.png" alt="Orange CBD Fruit Bites" class="control__img">
			<h1 class="text_size-r control__title">Orange CBD Fruit Bites</h1>
		</div>
	</div>
</div>