<div class="main-slider__wrap">
	<div class="slider">
		<div class="slider__slides">
			<div class="slide slide1">
				<picture class="slide1__text-wrap">
					<source media="(min-width: 768px)" srcset="/img/slider/slide1/piece-by-piece-text.png">
					<img class="slide1__text" src="/img/slider/slide1/piece-by-piece-text-mobile.png" alt="piece-by-piece-text">
				</picture>
				<picture class="slide1__product-wrap">
					<source media="(min-width: 768px)" srcset="/img/slider/slide1/slide1-product-img.png">
					<img class="slide1__product" src="/img/slider/slide1/slide1-product-img-mobile.png" alt="slide1-product-img">
				</picture>
			</div>
			<div class="slide slide2">
				<img class="slide2__text" src="/img/slider/slide2/slide2-5x-mobile.svg" alt="slide2-5x">
			</div>	
		</div>
		<div class="slider__footer-wrap">
			<div class="slider__footer">
				<a class="button" href="#">shop now</a>
				<div class="slider__switcher">
					<div class="slider__switch slider__switch_active"></div>
					<div class="slider__switch"></div>
				</div>
			</div>
		</div>
	</div>
</div>
