<div class="page page_green subscribe">
	<img class="icon" src="./img/subscribe/learn-more-icon.svg" alt="subscribe-icon">
	<h1 class="title title_size-l text_color-white subscribe__title">Want to learn more about CBD?</h1>
	<p class="text_size-s text_color-white subscribe__text">Sign up for our newsletter to keep up with the latest buzz.</p>
	<form class="block-email">
		<input type="text" class="text_size-s input email__input" placeholder="Enter email">
		<input type="submit" class="button email__button" value="subscribe">
	</form>
</div>