<div class="page_green testimonials">
	<h1 class="text-header testimonials__header">TESTIMONIALS</h1>
	<p class="title testimonials__title">Customers on the Upside</p>
	<p class="testimonials__header-text">Our customers enjoy our products for their effectiveness and their deliciousness.</p>
	
	<div class="testimonials__wrap">
		<div class="testimonials__arrow testimonials__arrow-left"></div>
		<div class="testimonials__items">
			<div class="testimonials__item">
				<p class="text_size-r testimonials__text">"I have never been an edible user as I have heard it’s too hard to control. I tried Upside because a friend told me how delicious they are. I want to tell everyone about this product; not only is it delicious, but WOW they really work for sleep aid, headaches, and back pain. The mango chili is the most incredible you’ve ever tasted. The fruit bites are a sophisticated answer to “gummy bears”… these are amazing. The best!"</p>
				<p class="text_size-r testimonials__author">​- Carol, Beverly Hills, CA</p>
			</div>
			<div class="testimonials__item testimonials__item_active">
				<p class="text_size-r testimonials__text">"Sometimes it's just nice to medicate with a delicious edible. I love Upside and their dosage is perfect for someone like me. I prefer the strawberry fruit bites. My boyfriend particularly enjoys the lemon fruit bites. I can always trust their consistency, taste, quality, and dosage. I even keep them in a jar for friends when I entertain. They clean me out every time!”</p>
				<p class="text_size-r testimonials__author">​- Sam, Highland, CA</p>
			</div>
			<div class="testimonials__item">
				<p class="text_size-r testimonials__text">"I am now a huge fan of Upside and recommend them to everyone I meet. All the products are high quality, delicious, and the dosing is superb! I can't say enough good things about this product and encourage everyone to give them a try.”</p>
				<p class="text_size-r testimonials__author">​- Laura, San Mateo, CA</p>
			</div>
		</div>
		<div class="testimonials__arrow testimonials__arrow-right"></div>
	</div>
	
</div>