.advantages {
	padding: 45px 0 0 0;
	position: relative;
}

.leaves-right {
	display: none;
}

.advantages__header {
	width: 100%;
}

.advantages__image {
	width: 90%;
	max-width: 400px;
	display: block;
	margin: 0 auto;
}

.advantages__text {
	font-family:Avenir-Book;
	font-size:1.3125rem;
	color:#808285;
	text-align:center;
	line-height:29px;
	margin: 30px 20px 0 20px;
}

.advantages__items {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: row;
	flex-wrap: wrap;
	margin: -10px 0 70px 0;
}

.advantages__item {
	text-align: center;
	width: 100%;
	/*height: 350px;*/
	margin: 65px 0 0 0;
}

.item__image {
	width: 115px;
	height: 115px;
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
}

.item__title {
	margin: 50px 0 20px 0;
}

.item__text {
	line-height:24px;
	margin: 0 30px;
}

.advantages__leaves-right,
.advantages__leaves-left {
	display: none;
}

@media screen and (min-width: 768px) {
	.advantages {}

	.advantages__wrap {
		z-index: 6;
	}

	.advantages__image-container {
		
	}

	.advantages__image {
		width: 80%;
		margin: 0 auto;
		max-width: 700px;
	}

	.advantages__text {
		margin: 20px;
	}

	.advantages__items {
		justify-content: center;
		margin: 30px 0 0 0;
		padding: 20px 0 50px 0;
		background-color: #eee;
	}

	.advantages__item {
		/*width: 50%;*/
		text-align: center;
		width: auto;
		margin: 20px 0;
		flex-basis: 45%;
	}

	.item__image {
		width: 115px;
		height: 115px;
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.item__title {
		margin: 50px 0 20px 0;
	}

	.item__text {
		line-height:24px;
		margin: 0 30px;
	}
}

@media screen and (min-width: 1024px) {
	.advantages {}
	.advantages__leaves-right {
		width: 15%;
		max-width: 120px;
		display: block;
		position: absolute;
		right: 0;
		top: 100px;
	}
	.advantages__leaves-left {
		width: 15%;
		max-width: 140px;
		display: block;
		position: absolute;
		left: 0;
		top: 225px;
	}
	.advantages__wrap {
		max-width: 760px;
		margin: 0 auto;
	}

	.advantages__items {
		margin: 25px 0 0 0;
		padding: 0;
		background-color: transparent;
	}

	.advantages__item {
		height: auto;
		text-align: center;
		width: auto;
		margin: 20px 0 80px 0;
		flex-basis: 33%;
	}

	.item__title {
		margin: 60px 0 25px 0;
	}

	.item__text {
		line-height:24px;
		margin: 0 20px;
	}

	.advantages__grey-block {
		width: 100%;
		height: 330px;
		background-color: #eee;
		position: absolute;
		bottom: 0;
		z-index: -1;
	}
}