.faq__header {
	padding: 0 50px;
}

.faq__title {
	padding: 30px 50px;
}

.block-questions {
	max-width: 560px;
	padding: 0 30px;
	margin: 0 auto;
}

.question__item {
	margin: 10px 0;
	box-shadow: #eee 0 0 10px 0;
}

.question__text {
	padding: 20px 20px;

	font-size: 0.975rem;
	line-height: normal;

	background-color: #fff;
	cursor: pointer;
}

.question__answer {
	padding: 0 30px 20px 30px;
	display: none;
}

.question__item_active>.question__answer {
	display: block;
}

.faq__leaves {
	display: none;
}

@media screen and (min-width: 768px) {
	.faq {
		padding: 70px 0 90px 0;
		position: relative;
	}
	.faq__title {
		padding: 25px 50px 40px 50px;
	}
	.question__text {
		position: relative;
	}
	.question__text:after {
		content: '';
		width: 15px;
		height: 15px;
		
		background: url(/img/faq/arrow.svg) center no-repeat;
		
		position: absolute;
		top: 40%;
		right: 15px;

		transition: transform 0.2s linear;
	}
	.question__item_active>.question__text:after {
		transform: rotate(180deg);
	}
	.question__text {
		text-align: left;
	}
	.question__answer {
		padding: 0 20px 20px 20px;
	}
}

@media screen and (min-width: 1024px) {
	.faq__leaves {
		display: block;
		position: absolute;
		bottom: -260px;
		z-index: -1;
	}

	.faq__leaves_left {
		left: 0;
	}

	.faq__leaves_right {
		right: 0;
		transform: scale(-1,1);
	}
}