.main-slider__wrap {
	width: 100%;
}

.slider {
	width: 100%;
	height: 785px;

	position: relative;
	
	overflow: hidden;
}

.slider__slides {
	width: 200%;
	height: 100%;

	display: flex;
	flex-wrap: nowrap;

	transition: margin 0.12s linear;
}

.slide {
	width: 50%;
}

.slide:first-child {
	background: url("/img/slider/slide1/slide1-leaf-banner.png") bottom left no-repeat;
	-moz-background-size: auto 250px;
    -webkit-background-size: auto 250px;
    -o-background-size: auto 250px;
    background-size: auto 250px;
}

.slide:last-child {
	background: url("/img/slider/slide2/slide2-hero-img-mobile.png") center no-repeat;
	-moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover; 
    background-size: cover;
}

.slide1__text {
	width: 72%;
	max-width: 300px;
	margin: 80px auto 0 auto;

	display: block;
}

.slide1__product {
	width: 95%;
	max-width: 340px;
	margin: 65px auto 0 auto;

	display: block;
}

.slide2__text {
	width: 90%;
	max-width: 340px;
	margin: 50px auto 0 auto;

	display: block;
}

.slider__footer {
	width: 100%;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;

	position: absolute;
	bottom: 30px;
}

.slider__switcher {
	width: 30px;
	height: auto;
	margin: 20px 0 0 0;

	display: flex;
	justify-content: space-between;

	z-index: 3;
}

.slider__switch {
	width: 8px;
	height: 8px;

	border-radius: 100px;
	border: 1px solid #ffffff;

	transition: background-color 0.12s linear;

	cursor: pointer;
}

.slider__switch_active {
	width: 8px;
	height: 8px;

	background-color: #ffffff;

	border-radius: 10px;
	border: 1px solid #ffffff;
}

@media screen and (min-width: 768px) {
	.main {
		padding: 80px 0 0 0;
	}
	.slider {
		height: auto;
		min-height: auto;
		padding: 0;

		overflow: hidden;
		
		/*position: relative;*/
	}

	.slider__slides {
		height: auto;
	}

	.slide {
		position: relative;
		min-height: 350px;
	}
	.slide:first-child {
		-moz-background-size: 100% 120px;
		-webkit-background-size: 100% 120px;
		-o-background-size: 100% 120px;
		background-size: 100% 120px;
	}

	.slide:last-child {
		background: url("/img/slider/slide2/slide2-hero-img.png") left no-repeat;
		-moz-background-size: cover;
	    -webkit-background-size: cover;
	    -o-background-size: cover;
	    background-size: cover;
	}

	.slide1 {
		display: flex;
		justify-content: space-around;
		align-items: center;
	}

	.slide1__text-wrap {
		flex-basis: 40%;
		order: 2;
	}
	.slide1__text {
		width: 80%;
		max-width: none;
		padding: 0;
		margin: 0 auto 80px auto;

		display: block;
	}
	.slide1__product-wrap {
		margin: 0;
		padding: 0;
		
		flex-basis: 70%;
		order: 1;
	}
	.slide1__product {
		width: 100%;
		max-width: none;

		padding: 0;
		margin: 0;
	}

	.slide2 {
		display: flex;
		justify-content: flex-end;
		align-items: center;
	}

	.slide2__text {
		width: 25%;
		max-width: 250px;
		padding: 0 20px 80px 0;
		margin: 0 10px;
	}

	.slide2__image {
		width: 20%;
		max-width: 200px;
		padding: 0 65px 80px 0;
	}
	
	.slider__footer-wrap {
		width: 100%;
		
		margin: -70px 0 0 0;

		display: flex;
		justify-content: flex-end;

		position: relative;
	}
	.slider__footer {
		width: 37%;

		position: relative;
	}
	.slider__switcher {
		width: 30px;
		height: auto;
		margin: 10px 0 0 0;

		display: flex;
		justify-content: space-between;
		
		z-index: 3;
	}
}

@media screen and (min-width: 1024px) {
	.main {
		padding: 0;
	}
	.main-slider__wrap {
		padding: 0;
	}
	.slide {
		padding: 50px 0;
	}
	.slide1__product {
		margin: 0 0 0 20px;
	}

	.slide2__text {
		padding: 0 50px 50px 0;
	}

	.slide2__image {
		padding: 0 10% 50px 0;
	}
	
	.slider__footer-wrap {
		width: 100%;
		margin: -90px 0 0 0;

		display: flex;
		justify-content: flex-end;

		position: relative;
	}
	.slider__footer {
		width: 37%;

		position: relative;
		bottom: 20px;
	}
}