.subscribe {
	padding: 30px 0 70px 0;
}

.subscribe__title {
	/*padding: 30px 0 15px 0;*/
	margin: 30px 20px 15px 20px;
}

.subscribe__text {
	font-size: 1.125rem;
	padding: 0 40px;
	text-align: center;
	font-weight: lighter;
	color: #eee;
}

.block-email {
	width: 80%;
	max-width: 450px;
	height: 45px;
	margin: 30px auto 0 auto;
	
	overflow: hidden;
	display: flex;
	justify-content: space-between;
}

.email__input {
	width: 100%;
	height: 100%;
	padding: 0 0 0 20px;
	flex-basis: 55%;
}

.email__button {
	padding: 0;
	height: 100%;
	flex-basis: 45%;
	font-size: 0.875rem;
}

@media screen and (min-width: 1024px) {
	.subscribe {
		padding: 70px 0 110px 0;
	}
	.block-email {
		margin-top: 20px;
	}
	.email__input {
		flex-basis: 70%;
	}
	.email__button {
		flex-basis: 30%;
		text-transform: uppercase;
	}
}